<a href="https://colab.research.google.com/github/manasik29/Model-Validation-Techniques/blob/main/Model_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Train and Test Sets
- K-Fold Cross Validation
- Leave one out Cross Validation

In [2]:
import pandas as pd
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv('/content/pima-indians-diabetes.data.csv', names=names )

In [3]:
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [4]:
array = df.values
X = array[:,0:8]
Y = array[:,8]

**Train Test Split Sets**

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
test_size = 0.33
seed =7

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = test_size, random_state = seed)

model = LogisticRegression(max_iter=400)
model.fit(X_train, Y_train)
results = model.score(X_test, Y_test)

In [7]:
results*100        #accuracy of model

78.74015748031496

**K-Fold Cross Validation**

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

num_fold = 10

model = LogisticRegression(max_iter=400)
kfold = KFold(n_splits=num_fold)
results_k = cross_val_score(model, X, Y, cv = kfold)

In [11]:
results_k.mean()*100

77.60423786739577

In [14]:
results_k*100

array([68.83116883, 81.81818182, 76.62337662, 68.83116883, 77.92207792,
       79.22077922, 84.41558442, 83.11688312, 75.        , 80.26315789])

In [15]:
results_k.std()*100

5.157545262086822

**Leave one out Cross Validation**

In [16]:
from sklearn.model_selection import LeaveOneOut

model = LogisticRegression(max_iter=400)
loocv = LeaveOneOut()
results_l = cross_val_score(model, X, Y, cv = loocv)

In [18]:
results_l.mean()*100

77.60416666666666

In [19]:
results_l.std()*100

41.68944689773287

In [20]:
results_l*100

array([100., 100., 100., 100., 100., 100.,   0.,   0., 100.,   0., 100.,
       100.,   0., 100., 100.,   0.,   0.,   0., 100.,   0., 100., 100.,
       100.,   0., 100.,   0., 100., 100.,   0., 100., 100., 100., 100.,
       100., 100., 100.,   0.,   0.,   0., 100.,   0.,   0., 100., 100.,
         0., 100., 100., 100.,   0., 100., 100., 100., 100., 100.,   0.,
       100., 100., 100.,   0., 100., 100., 100., 100., 100.,   0., 100.,
         0., 100., 100., 100.,   0., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100.,   0., 100.,
       100., 100., 100., 100., 100.,   0., 100.,   0., 100., 100., 100.,
         0., 100., 100., 100., 100., 100., 100., 100., 100., 100.,   0.,
       100., 100., 100., 100., 100., 100.,   0., 100., 100., 100., 100.,
       100., 100., 100.,   0., 100., 100., 100.,   0.,   0., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
         0., 100., 100., 100., 100.,   0., 100., 100., 100., 100.,   0.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,   0.,
         0., 100., 100., 100., 100.,   0., 100., 100., 100., 100., 100.,
       100., 100.,   0., 100., 100., 100., 100., 100., 100., 100., 100.,
         0.,   0.,   0., 100., 100., 100., 100., 100., 100., 100.,   0.,
         0.,   0., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100.,   0.,   0., 100.,   0., 100.,   0., 100.,   0.,   0.,
       100., 100., 100.,   0., 100., 100., 100., 100.,   0., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
         0.,   0., 100., 100., 100.,   0., 100., 100., 100., 100., 100.,
       100.,   0.,   0., 100., 100.,   0., 100.,   0., 100., 100.,   0.,
         0., 100., 100.,   0., 100., 100., 100., 100., 100., 100.,   0.,
       100.,   0., 100., 100., 100.,   0.,   0., 100., 100.,   0., 100.,
         0.,   0., 100., 100., 100.,   0., 100.,   0., 100.,   0.,   0.,
       100.,   0., 100., 100.,   0., 100., 100., 100., 100., 100., 100.,
         0.,   0., 100., 100.,   0., 100., 100., 100., 100., 100., 100.,
       100., 100.,   0.,   0., 100., 100., 100.,   0.,   0.,   0., 100.,
       100., 100., 100., 100., 100.,   0.,   0.,   0., 100., 100., 100.,
       100., 100., 100., 100.,   0., 100., 100., 100.,   0., 100., 100.,
       100., 100., 100., 100.,   0., 100., 100., 100., 100.,   0., 100.,
       100., 100., 100.,   0., 100., 100.,   0., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100.,   0.,   0.,   0., 100., 100., 100., 100., 100., 100., 100.,
       100.,   0., 100., 100.,   0., 100.,   0., 100., 100.,   0.,   0.,
       100., 100., 100., 100., 100.,   0., 100.,   0., 100., 100., 100.,
       100.,   0., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
         0., 100., 100., 100., 100., 100., 100.,   0., 100., 100., 100.,
       100., 100., 100.,   0.,   0., 100., 100., 100.,   0., 100., 100.,
         0., 100., 100., 100., 100., 100., 100., 100.,   0., 100., 100.,
       100., 100., 100., 100., 100., 100., 100.,   0.,   0., 100., 100.,
       100., 100., 100.,   0., 100., 100., 100., 100., 100., 100., 100.,
       100.,   0., 100.,   0., 100.,   0., 100., 100., 100.,   0., 100.,
         0., 100., 100., 100.,   0., 100., 100.,   0., 100., 100., 100.,
       100., 100., 100., 100.,   0., 100., 100., 100., 100., 100., 100.,
         0., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
         0.,   0.,   0.,   0., 100., 100., 100., 100., 100.,   0.,   0.,
       100., 100., 100., 100., 100., 100., 100., 100.,   0., 100.,   0.,
       100., 100., 100., 100., 100., 100., 100.,   0.,   0., 100., 100.,
       100., 100., 100., 100., 100.,   0., 100., 100., 100., 100., 100.,
       100.,   0., 100., 100., 100., 100., 100., 100., 100.,   0., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100.,   0.,   0., 100., 100.,   0., 100., 100., 100., 100.,
       100., 100., 100.,   0., 100., 100., 100., 100.,   0., 100., 100.,
         0., 100., 100., 100.,   0., 100., 100.,   0.,   0., 100.,   0.,
       100., 100., 100., 100., 100., 100.,   0., 100., 100.,   0.,   0.,
         0., 100., 100., 100.,   0., 100., 100.,   0., 100.,   0.,   0.,
       100., 100.,   0., 100., 100., 100., 100.,   0., 100., 100., 100.,
       100.,   0., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100.,   0., 100., 100., 100.,   0., 100.,   0., 100.,   0.,
       100., 100.,   0., 100., 100.,   0., 100., 100., 100., 100., 100.,
       100., 100., 100., 100.,   0., 100., 100.,   0., 100., 100., 100.,
       100., 100., 100., 100.,   0.,   0., 100., 100., 100., 100., 100.,
       100., 100.,   0., 100., 100., 100., 100.,   0., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100.,   0., 100.,   0., 100.,
       100., 100., 100., 100., 100., 100., 100.,   0., 100.])